{% extends 'main/base.html' %}

{% load bootstrap4 %}

{% block title %} Правка личных данных {% endblock %}

{% block content %}
   <h2>Правка личных данных пользователя {{ user.username }}</h2>
   <form method="post">
       {% csrf_token %}
       {% bootstrap_form form layout='horizontal' %}
       {% buttons submit='Сохранить' %} {% endbuttons %}
   </form>
{% endblock %}

{% block task %}

        <h5 class="mr-md-auto p-2">Редактирование профиля {{ user.username }}</h5>
        {% endblock %}
